* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Courier New, monospace;
    font-size: 11px;
}

    h1 {
        font-size: 21px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    p {
        margin-bottom: 5px;
    }
    
        .buttons {
            padding: 20px 0px 20px 0px;
            text-align: center;
        } 
    
    ul {
        padding-left: 13px;
    }   
    
    .button {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
    
        .button:hover {
            background-color: green;
            color: white;
        }
        
    img {
        padding: 0px 25px 0px 25px;
    }

/* Wrap: Header & Content */    
#bodywrap {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/* Header */
header {
    font-family: Times New Roman, Times, serif;
    margin: 30px 0px 40px 0px;
}

/* Prompt */
aside { 
    float: left;
    padding-right: 10px;
    width: 300px;
}

/* Response */
section {
    margin-left: 300px;
    text-align: center;
    width: 500px;
}

    /* Images */
    #imageLeft {
        border-right: 1px dashed black;
        float:left;
        width: 250px;   
    }

    #imageRight {
        float: right;
        width: 250px; 
    }
    
    /* Tables */
    th.header {
        padding-left: 25px;
        text-align: left;
        width: 188px;
    }
    
    td.value {
        text-align: right;
        width: 306px;
    }
    
    /* Forms */
    input {
        padding-left: 5px;
        width: 150px;
    }
    
    .error {
        color: #000;
    }
    
    tr.form {
        height: 30px;
    }
    
    th.form {
        padding-right: 5px;
        text-align: right;
        width: 115px;
    }
    
    td.form {
        width: 190px;
    }
    
    td.buttons {
        padding: 20px 0px 20px 0px;
        text-align: center;
        width: 500px;
    } 
    
    /* User Feedback */
    #printresults {
        font-size: 14px;
    }
